.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
.menu img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 75px;
  border: 8px solid #4F4F4F;
}
.link {
  padding-top: 60px;
  font-size: 20px;
}
.menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A9A9A9;
  overflow-x: hidden;
}

.menu a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  margin-left: 1cm;
}

.menu a:hover {
  background-color: #ADD8E6;
  color: black;
}
.nome {
  margin-left: 300px;
  margin-top: 150px;
}
.nome ul li {
  display: inline-block;
  font-size: 3.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}
.endereço {
  margin-left: 300px;
}
.endereço ul li {
  display: inline-block;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}
.sobre {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 340px;
  margin-top: 50px;
}
.redes-socias {
  margin-left: 300px;
  margin-top: 100px;
}
.redes-socias ul li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
}
